########################################
# this project
########################################
*.o
*.db
args
client
server

########################################
# Xcode
########################################
*~.nib
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
xcuserdata
DerivedData/
build/
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

########################################
# OSX
########################################
*.swp
*.lock
.DS_Store
.Trashes

